html[dir="rtl"] nav * {
    font-size: 22px;
    font-weight: bolder !important;
}

.mobile-menu {
  position: fixed !important;
  top: 90px;
  left: 0;
  width: 100%;
  z-index: 999999999 !important;
  background-color: #D1E6FF;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px) !important;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 40px 16px;
  isolation: isolate;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transform: translateY(-20px);
  animation: dropdown 0.3s ease forwards;
}

@keyframes dropdown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes dropdownClose {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-20px); }
}