@import url('https://fonts.googleapis.com/css2?family=Share:wght@400;700&display=swap');

.servicesRoot {
    --main-blue: #117090;
    --main-red: #fe1952;
    --second-blue: #c6e5fe;
    --dark-grey: #555555;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    color: var(--dark-grey);
}

.services-container h1 {
    text-align: center;
}



h2 {
    color: var(--main-blue);
    font-family: share !important;
    font-weight: bold !important;
    font-size: x-large;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 95%;
    padding: 0;
    /* remove extra horizontal padding to avoid shifting */
    margin: 0 auto;
}



.service:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.service-pic {
    width: 100%;
    flex-shrink: 0;
}




.contact-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    color: white;
    background: var(--main-blue);
    padding: 12px 50px;
    border-radius: 18px;


    margin-top: 50px;
    transition: background 0.3s ease;
}

.contact-btn:hover {
    background: var(--main-red);
}



@media (max-width: 1400px) {
    .service {
        width: 100%;
        height: 560px !important;
    }
}

@media (max-width: 1000px) {
    .service {
        width: 100%;
        height: 520px !important;
    }
}


@media (max-width: 800px) {
    .services-row {
        flex-direction: column;
        width: 98%;
    }

    .service {
        width: 100%;
        height: 540px !important;
    }

    p {
        font-size: 18px !important;
        margin: 0 !important;
    }
}

@media (min-width: 500px) and (max-width: 790px)  {
    .service {
        width: 100%;
        height: 800px !important;
        min-width: 300px;
    }


}

